.card {
  border-top: 0.5px solid $color-very-light-grey;

  &__wrapper {
    padding: 25px 22px 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    position: relative;
    align-items: flex-start;

    @media (max-width: 1385px) {
      display: flex;
      flex-direction: column;
    }

    @include mobile {
      padding: 16px 0;
    }
  }

  &__button {
    position: absolute;
    top: 23px;
    right: 4px;
  }

  &__image {
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;

    @media (max-width: 1385px) {
      margin: 0 0 15px;
    }

    @include mobile {
      grid-template-columns: 90px 1fr;
      grid-row-gap: 10px;
      margin: 0;
    }

    picture {
      grid-row: 1 / -1;
      grid-column: 1 / 2;

      @include mobile {
        grid-row: 1 / 2;
      }
    }

    img {
      @include mobile {
        width: 90px;
        height: 111px;
      }
    }
  }

  &__title {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;
    max-width: 91%;
    margin: 0 0 15px;

    @include mobile {
      font-size: 14px;
      line-height: 18px;
      max-width: 91%;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include mobile {
      grid-column: 1 / -1;
      grid-row: 2 / -1;
    }
  }

  &__description {
    margin: 0 0 10px;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $color-dim-gray;

    @include mobile {
      margin: 0 0 4px;
    }

    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: $color-black;
      margin: 0 0 0 5px;
    }
  }

  &__description:last-of-type {
    @include mobile {
      margin: 0 0 12px;
    }
  }

  &__price {
    @media (max-width: 1385px) {
      width: 80%;
    }

    @include mobile {
      width: 100%;
      align-self: center;
    }
  }
}

.card--deleted .card__wrapper {
  display: flex;
  align-items: center;
  padding: 25px 0;

  @include mobile {
    padding: 16px 0;
  }

  .card__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $color-white-smoke;
    padding: 15px 52px 15px 25px;

    @include tablet {
      padding: 12px 15px 12px 8px;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .card__button {
    top: 50%;
    right: 40px;

    @include mobile {
      top: 36px;
      right: 18px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $color-dim-gray;

    @media (max-width: 1385px) {
      width: 100%;
      margin: 0 0 7px;
    }

    @include tablet {
      max-width: 91%;
    }

    @include mobile {
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 4px;
    }

    a {
      font-weight: 600;
      color: $color-dim-gray;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .card__link-restore {
    display: block;
    margin: 0 0 0 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $color-black;

    @media (max-width: 1385px) {
      margin: 0;
    }

    @include mobile {
      margin: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
