.contacts {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  &__item {
    position: relative;

    input {
      width: 100%;
    }

    // label {
    //   display: none;
    //   position: absolute;
    //   top: -10px;
    //   left: 17px;
    //   padding: 2px 4px;
    //   font-weight: 400;
    //   font-size: 12px;
    //   line-height: 15px;
    //   color: $color-dim-gray;
    //   background-color: $color-white;
    // }
  }

  &__item input + label {
    display: none;
    position: absolute;
    top: -10px;
    left: 17px;
    padding: 2px 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $color-dim-gray;
    background-color: $color-white;
  }

  &__item input:focus + label {
    display: block;
  }

  &__item--address {
    position: relative;
    grid-row: 3 / -1;
    grid-column: 1 / -1;

    svg {
      display: none;
      width: 20px;
      height: 20px;
      color: $color-dim-gray;
      fill: none;
      position: absolute;
      top: 18px;
      right: 15px;
    }
  }
}
