.total {
  &__wrapper {
    padding: 30px 20px;
    border: 1px solid $color-dim-gray;
    display: flex;
    flex-direction: column;

    @include tablet {
      padding: 24px 16px;
    }
  }

  &__list {
    list-style: none;
    padding: 0 0 20px;
    margin: 0;
    border-bottom: 1px solid $color-very-light-grey;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;
    margin: 0 0 5px;

    @include tablet {
      font-size: 18px;
      line-height: 22px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 21px;
    }

    span {
      font-weight: 700;
    }
  }

  &__item--discount {
    span {
      color: $color-persian-red;
    }
  }

  &__item--additional {
    font-size: 16px;
    line-height: 21px;

    @include tablet {
      font-size: 14px;
      line-height: 19px;
    }

    @include mobile {
      font-size: 12px;
      line-height: 15px;
    }

    span {
      color: $color-persian-red;
      font-weight: 400;
    }
  }

  &__item:nth-child(1),
  &__item:nth-last-child(-n + 2) {
    margin: 0 0 20px;

    @include mobile {
      margin: 0 0 12px;
    }
  }

  &__item:last-child {
    margin: 0;
  }

  &__from-warehouse {
    padding: 20px 0;
    border-bottom: 1px solid $color-very-light-grey;
    display: flex;
    justify-content: space-between;

    @include mobile {
      padding: 12px 0;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 24px;
      color: $color-black;

      @include tablet {
        font-size: 18px;
        line-height: 22px;
      }

      @include mobile {
        font-size: 16px;
        line-height: 21px;
      }

      span {
        display: block;
        font-size: 12px;
        line-height: 15px;
        color: $color-dim-gray;
        margin: 10px 0 0;
      }
    }

    button {
      margin: 8px 0 0;
      width: 41px;
      height: 14px;
    }
  }

  &__sum {
    position: relative;
    padding: 20px 0 0;
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;

    @include mobile {
      padding: 12px 0;
      margin: 0 0 6px;
    }

    p {
      margin: 0 0 20px;
      padding: 0;
      font-size: 28px;
      line-height: 30px;
      color: $color-black;
      font-weight: 700;
      display: flex;
      align-items: center;

      @include tablet {
        font-size: 24px;
        line-height: 26px;
      }

      @include mobile {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 12px;
      }

      span:first-of-type {
        margin: 0 0 0 auto;
      }

      span:last-of-type {
        font-weight: 500;
      }
    }

    input {
      width: 100%;
    }

    button {
      display: none;
      position: absolute;
      right: 15px;
      top: 84px;
    }
  }

  &__button {
    width: 100%;
    margin: 0 0 10px;
  }

  &__policy {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: $color-dim-gray;
    text-align: center;

    a {
      color: $color-dim-gray;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
