// Colors

$color-black:           #000000;
$color-white:           #ffffff;
$color-dim-gray:        #6e6e6e;
$color-charcoal:        #444444;
$color-very-light-grey: #c8c8c8;
$color-white-smoke:     #f1f1f1;
$color-persian-red:     #d92c2c;
$color-cerulean:        #106da1;
$color-golden-brown:    #ae6d0c;

// Viewports

$mobile-max-width:        767px;
$tablet-max-width:        1023px;

// Animation

$trans-03:                0.3s ease;
