.burger-button {
  cursor: pointer;
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 32px;
  height: 32px;
  transition: color $trans-03;

  svg {
    width: 32px;
    height: 32px;
  }

  @include mobile {
    display: block;
  }
}

.burger-button:hover {
  color: $color-dim-gray;
  transition: color $trans-03;
}
