.input {position: relative;
  padding: 15px 20px;
  border: 1px solid $color-very-light-grey;
  color: $color-black;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $color-dim-gray;
  }

  &:focus {
    outline: none;
    border: 1px solid $color-dim-gray;
  }

  &--invalid {
    border: 1px solid $color-persian-red;
  }
}
